# Add `~/bin` to the `$PATH`
export PATH="node_modules/.bin:$HOME/bin:$PATH:/Applications/Postgres.app/Contents/MacOS/bin"
export JAVA_HOME=$(/usr/libexec/java_home -v 1.7)
export NODE_PATH=/usr/local/lib/node_modules:$NODE_PATH

# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

export M2_HOME=~/bin/maven
export M2=$M2_HOME/bin
export PATH="$M2:$PATH"
export MAVEN_OPTS="-Xmx1024m -XX:MaxPermSize=250m -XX:+UseCodeCacheFlushing"
export VAGRANT_VMWARE_CLONE_DIRECTORY="~/Documents/Virtual Machines"
